@import url("https://www.w3schools.com/w3css/4/w3.css");
/* Commented to avoid minification issues */

.w3-myfont {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.container {
  background-color: beige;
}

.title {
  color: #370617;
  /* Fixed incorrect color value */
  font-weight: 500;
  font-size: 3rem;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.wrapper {
  text-align: center;
}

.button {
  position: absolute;
  top: 50%;
}